@import "base.css";
@import "components.css";
@import "utilities.css";
@import "gallery.css";

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse 25s linear infinite;
}
